node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
yarn.lock
package-lock.json

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Fotos de perfil
public/uploads/*


.env
