<% if (!gameId){ %>
    <title>Chischas!♟️</title>
<% } %>
<% if (gameId){ %>
    <title>MATCH⚔️||Chischas!♟️</title>
<% } %>

<%- include('header') %>

<script src="/javascript/chischas/pieces.js" defer></script>
<script src="/javascript/chischas/chischas.js" defer></script>
<script src="/javascript/chischas/conexion/crearLink.js" defer></script>

<% if (!gameId){ %>
<form id="inicio_partida">
    <label>
        <button id="crearLink">Crear link de partida</button>
        <p id="link"> Aún no se ha generado ningún link de partida</p>
    </label> <br>
    <label>
        <button>Unirse a una partida</button> <br>
        <input type="text" placeholder="Introduce el link de la partida">
    </label>
</form>
<% } %>

<% if (gameId){ %>
<p> Id de partida: <%=gameId %></p>
<% } %>

<div id="gameboard"></div>
<ul id="messages"></ul>
