<%- include('header') %>

<form id="inicio_partida" action="chischas/inicio_partida">
    <label for="crear">
        <button>Crear link de partida</button> <br>
        <input type="text" placeholder="Aún no se ha generado el link de partida" readonly>
    </label> <br>
    <label for="unirse">
        <button>Unirse a una partida</button> <br>
        <input type="text" placeholder="Introduce el link de la partida">
    </label>
</form>

<div id="gameboard"></div>
<ul id="messages"></ul>

<script src="/javascript/chischas/pieces.js"></script>
<script src="/javascript/chischas/chischas.js"></script>
<script src="/javascript/chischas/conexion_socket.js"></script>