<link rel="stylesheet" href="/css/style.css">
<script src="/javascript/topnav/topnav.js" defer></script>


<h1 id="titulo"><%= title %></h1>
<h3 id="autor">by Miguel Gamboa Sánchez <h3>
<div class="topnav">
    <a class="active" href="/">Home</a>

    <a href="/chischas">chischas</a>

    <a href="/#"> Registro</a>

</div>