<link rel="stylesheet" href="/chessboardjs/www/css/chessboard.css">
<link rel="stylesheet" href="/css/style.css">

<div id="board-container">
    <div id="board1"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="/chessboardjs/www/js/chessboard.js" defer></script>
<script src="/socket.io-client/socket.io.js" defer></script> <!-- Cliente de Socket.IO -->
<script src="/javascript/chischas/chischas.js" type="module" defer></script>