<link rel="stylesheet" href="/css/style.css">

<%- include('header') %>
P치gina de inicio de sesi칩n...
<br>

<form id="login" action="/login" method="POST">
    <label for="email">
        <p>Introduce tu email:</p>
        <input type="email" name="email" placeholder="chischas@chischas.xyz" required>
    </label> <br>
    <label for="password">
        <p>Introduce tu contrase침a</p>
        <input type="password" name="password" required>
    </label> <br> <br>
    <label for="submit">
        <input type="submit" value="Iniciar sesi칩n">
    </label> <br>
</form>